/* HEADER */
header {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/* HEADER NAV BAR */
nav {
    width: 70vw;
    margin: 15px auto 0 auto;

    color: #6C6C71;

    display: flex;
    justify-content: space-between;
}

.navLeft {
    width: auto;
    height: 100%;
    
    display: flex;
    align-items: center;
}

.navLogo {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    background-color: #FF7235;
    margin-right: 10px
}

.navLogo p {
    color: #fff;
    font-size: 14px;

    height: 100%;

    position: relative;
    top: 50%;
    transform: translateY(-20%);

    text-align: center;
    text-transform: uppercase;
}

.navLinks ul {
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks a {
    color: #6C6C71;
    text-decoration: none;
}

.navlinks a:visited {
    color: inherit;
}

.navButton {
    background: none;
    color: #FF7235;
    border: 2px solid #FF7235;
    border-radius: 8px;
}

/* HEADER main content */
.header-container {
    width: 70%;
    max-height: 450px;

    margin: auto auto;

    display: flex;
}

.headerContent {
    width: 50%;
    height: 100%;
}

.headerContent h1 {
    font-size: 4.5em;
    font-weight: bold;

    margin-bottom: 30px;
}

.headerContent p {
    margin-bottom: 30px;
}

.headerLeft {
    display: flex;
}

.headerLeft p {
    padding-left: 10px;

    margin: auto 0;
}

.headerLeftButton {
    width: 180px;
    height: 55px;

    border: none;
    border-radius: 8px;

    color: #FFF;
    background-color: #FF7235;
}

.headerImage {
    width: 50%;
    height: 100%;

    background: url(../assets/images/Illustration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.article-1 {
    width: 100vw;
    height: 100vh;
}

.article-1-main {
    width: 100%;
    height: 85%;
    background-color: #FF7235;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.article-1-img {
    padding: 0;
    width: 1100px;
    height: 597px;

    margin: 0 auto;

    background-image: url(../assets/images/Image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.article-1-footer {
    width: 100%;
    height: 15%;   

}

.partener-logo {
    width: 1080px;
    height: 100%;

    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;

    filter: grayscale(1);
}

.logo {
    width: 100px;
    height: 100px;

    filter: opacity(.3);
}