/* HEADER */
header {
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
}

/* HEADER NAV BAR */
nav {
    width: 75vw;
    margin: 15px auto 0 auto;

    color: #6C6C71;

    display: flex;
    justify-content: space-between;
}

.navLeft {
    width: auto;
    height: 100%;
    
    display: flex;
    align-items: center;
}

.navLogo {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    background-color: #FF7235;
    margin-right: 10px
}

.navLogo p {
    color: #fff;
    font-size: 14px;

    height: 100%;

    position: relative;
    top: 50%;
    transform: translateY(-20%);

    text-align: center;
    text-transform: uppercase;
}

.navLinks ul {
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks a {
    color: #6C6C71;
    text-decoration: none;
}

.navlinks a:visited {
    color: inherit;
}

.navButton {
    background: none;
    color: #FF7235;
    border: 2px solid #FF7235;
    border-radius: 8px;
}

/* HEADER main content */
.header-container {
    width: 75vw;
    max-height: 450px;

    margin: auto auto;

    display: flex;
}

.headerContent {
    width: 50%;
    height: 100%;
}

.headerContent h1 {
    font-size: 4.5em;
    font-weight: bold;

    margin-bottom: 30px;
}

.headerContent p {
    margin-bottom: 30px;
}

.headerLeft {
    display: flex;
}

.headerLeft p {
    padding-left: 10px;

    margin: auto 0;
}

.headerLeftButton {
    width: 180px;
    height: 55px;

    border: none;
    border-radius: 8px;

    color: #FFF;
    background-color: #FF7235;
}

.headerImage {
    width: 50%;
    height: 100%;

    background: url(../assets/images/Illustration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

/* FEATURES */
.article-1 {
    width: 100vw;
    height: 100vh;
}

.article-1-main {
    width: 100%;
    height: 80%;
    padding-top: 60px;
    background-color: #FF7235;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.article-1-img {
    width: 1110px;
    height: 625px;

    margin: 0 auto;

    background-image: url(../assets/images/Image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transform: scale(1);
}

.article-1-footer {
    width: 75vw;
    height: auto;
    margin: 0 auto;
}

.partener-logo {
    width: 100%;
    height: auto;
    padding-top: 55px;

    display: flex;
    justify-content: space-between;

    filter: grayscale(1);
}

.logo:first-child {
    transform: scale(1.5);
}

.logo:nth-child(5) {
    transform: scale(1.3);
}

.logo {
    width: 100px;
    height: 25px;
    filter: opacity(.3);
}

/* ABOUT US */
.article-2 {
    width: 100vw;
    height: 90vh;
    padding-top: 130px;
}

.article-2 h2 {
    font-size: 4.5em;
    display: flex;
    font-weight: bold;  
}

.article-2 a {
    color: #FF7235;
    text-decoration: none;
}

.article-2 a:visited {
    color: #FF7235;
}

.article-2-container {
    width: 75vw;
    height: 500px;

    margin: 0 auto;

    display: flex;
}

.article-2-left {
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-2-left p:first-child {
    text-transform: uppercase;
}

.article-2-img {
    width: 50%;
    height: 100%;

    background-image: url(../assets/images/Illustrator-1.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

/* PRICING */
.article-3 {
    width: 100vw;
    height: 100vh;
}

.article-3 h2 {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

.card-container {
    width: 75vw;
    height: 100%;

    margin: 90px auto 0 auto;
    gap: 25px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 33.3333%;
    height: 550px;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: darkgray;
}